<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="team_stats.html">Season Stats <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<!--Add your code for the home page here -->
		<!-- Home Page Requirements: 
		Your home page must include the following components:

			1. A header tag with a message welcoming the user to your website
			2. An image (related to Football or specifically the Buffs team)
			3. A short description of your website (2 sentences).
			4. A Hyperlink to the Buffs official home page [ https://cubuffs.com/ ]
			5. At least 1 Bootstrap class to modify your content

		
		-->
		<h1> Welcome to the Colorado Buffaloes Football website</h1> <br>
		<h2> We got: </h2>
		<img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.featurepics.com%2FStockImage%2F20090108%2Ffootball-on-grass-stock-picture-1028403.jpg&f=1&nofb=1" alt="football" height="150px" width="250px"> 
		<h2> footballs </h2>
		<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.J8lVsdncRfE5O02mqpwUvQHaE8%26pid%3DApi&f=1" alt="buffalo" height="150px" width="250px"> 
		<h2> buffaloes </h2>
		
		Fans from across the globe flock to see our amazing foot-ball playing buffaloes. Yes these are live animals trained to run into eachother while
		wearing copious amounts of body armor. This isn't just sports, its a tradition. <br>

		<h2>Check it out at <a href=https://cubuffs.com/>https://cubuffs.com</a> </h2>

		<button type="button" class="btn btn-primary btn-lg" onclick="alert('CONGRATULATIONS!\nYou are the 1,000,000th visitor to our website.\n\nPlease send your bank account information to andrew.weller@colorado.edu to have your winnings deposited into your account.\n\nHave a nice day!')">CLICK THIS BUTTON</button>

	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
